
body{
  font-family: arial;
}

/* classes to be use to not repeat each one of them */
ul{
  list-style-type: none;
  overflow: hidden;
}

li{
  float: left;
  display: block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

a{
  text-decoration: none;
  color: white;
  line-height: 30px;
}

.textcon {
  text-align: center;
  margin: 10px auto;
}
.textcon *{
  padding: 5px 0px 5px 0px;
}
.imgcon{
  margin: auto;
  padding-left: 33%;
  padding-right: 33%;
}

.inblock{
  display: inline-block;
}
/* /classes to be use to not repeat each one of them */


/* header */
header{
  background-image: url("../img/headerbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65vh;
}

#opaco{
  background-color: rgba(24, 24, 24, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
  color: white;
}

#opaco .container .row .col-lg-6 li{
  float: right;
}

#opaco .row:nth-child(2){
  margin: 10% auto;
  text-align: center;
}
#opaco .row:nth-child(2) p{
  padding: 10px;
}
/* /header */

/* first section */
#first .col-lg-6{
  background-color: #FAFAFA;
}

#first a{
  color: blue;
}
#first img{
  width: 40%;
}
/* /first section */

/* second section */
#second{
  background-image: url("../img/HelbizBanner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: auto;
}

#second img{
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
}
#second .row{
  padding-top: 10%;
}
#second .col-lg-4.left, .col-lg-4.right{
  padding-top: 25%;

}
#second .textcon.1{
  text-align: right;
  bottom: 0;
}
#second .textcon.2{
  text-align: left;
  bottom: 0;
}
/* /second section */


/* third section */

#third{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

#third > .container{
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  height: 50vh;
  position: relative;
}

#third .container .textcon{
  width: 25%;
  color: white;
  position: absolute;
  right: 0%;
  top: 45%;
  transform: translate(-50% ,-50%);
}
/* /third section */

/* fourth section */

#fourth .container .row .col-lg-6 .container{
  background-image: url("../img/helbiZAPP.png");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-color: #374859;
  height: 60vh;
  color: white;
  padding-top: 3%;
}
#fourth .container .row .col-lg-6 .container.b{
  background-image: url("../img/Cities-1500.jpg");
  background-size: cover;
}
/* /fourth section */

/* fifth section */
#fifth{
  height: 50vh;
  background-image: url("../img/Social-Banner.jpg");
  background-size: cover;
  padding-top: 5%;
  margin-bottom: 2%;
}

#fifth .textcon{
  width: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: auto;
  color: black;
  background-color: white;
}
/*/ fifth section */

/* footer */
footer{
  background-color: black;
  padding: 30px 10% 10px 10%;
}
footer .container{
  height: 100%;
  color: white;
}
footer .container h4{
  padding-bottom: 10px;
}
footer .container li{
  text-align: left;
  padding: 5px 0 5px;
  float: none;
}
footer .container li a{
  color: gray;
}
footer .container img{
  width: 50%;
}
footer .container .row.c .container{
  max-width: 25%;
  margin:auto;
}
footer .container .row.c img{
  width: 49%;
}

footer .container .row{
  margin-top: 5%;
  margin-bottom: 5%;
}
/* /footer */
